.service {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.service img {
  width: 400px;
  height: 400px;
}
.check-more {
  padding: 5px 10px;
  background-color: rgb(85, 196, 157);
  color: white;
  border-radius: 5px;
  border: none;
}
.check-more:hover {
  background-color: rgb(46, 152, 115);
}
